@import url(fishing.css);

* {
    padding: 0;
    margin: 0;
}

#container {
    background-color: rgb(255, 255, 255);
    width: 100%; height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    margin-top: 10vh;
    height: fit-content;
    text-align: center;
    font-size: max(8vw,100px);
    font-family: system-ui, sans-serif;
    font-weight: 900;
}

#play_button {  
    margin-top: 5vh;
    width: max(20vw,200px);
    height: max(10vh,70px);
    line-height: max(10vh,70px);
    font-family: Helvetica, sans-serif;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: max(2.5vw,30px);
}

#play_button:hover {
    background-color: rgb(87, 87, 87);
    transition: background-color 0.2s;
}


#character_container {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 10vh;
    justify-content: center;
    flex-wrap: wrap;
}

.character_img {
    height: 30vh;
    opacity: 0.85;
}

.character_img:hover {
    opacity: 1;
}